<div class="container banner">
  <h1>Let's see if you guessed it right!</h1>
</div>


<br>

<!-- <div class="container">
  <p class="word"> <%= @word.capitalize %> </p>
</div> -->

<div class="answer">
  <h3>Your Result!</h3>
  <br>
  <p> <%= @answer %> </p>
</div>
<br>
<br>

<div class="container">
  <%= link_to "Play again", new_path %>
</div>
